{% extends "portfolio/base.html" %}

{% block content %}
    {% if validlink %}
        <div class="d-flex flex-column align-items-center mt-5">
        <h5>Enter New Password</h5>
        <p>Please enter (and confirm) your new password.</p>
        <form action="" method="post">
        {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">New password:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirm password:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
            </table>
            <input class="btn btn-success" type="submit" value="Change Password" />
        </form>
        </div>
    {% else %}
        <h2>Password Reset Failed</h2>
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}
{% endblock %}