{% extends "portfolio/base.html" %}

{% block content %}
    <div class="d-flex flex-column align-items-center mt-5">
        <form action="" method="post">
        {% csrf_token %}

        {% if form.email.errors %}
            {{ form.email.errors }}
        {% endif %}
            <h2><b>Now is the Time to Change Your Password!</b></h2>
            <hr>
            <h3>Please enter an email to send confirmation of your password reset.</h3>
            <table>
                <tr>
                    <td>{{ form.email.label_tag }}</td>
                    <td>{{ form.email }}</td>
                </tr>
                <hr>
            </table>
        <hr>
            <input type="submit" class="btn btn-success" value="Send Password Reset Email">
        </form>
    </div>

{% endblock %}