{% extends "portfolio/base.html" %}

{% block content %}
    {% if form.errors %}
    <br />
    <p>Your username and password didn't match. Please try again.</p>
    {% endif %}
    <br />
    <br />
    <form method="post" class="w3-button w3-round w3-black" action="{% url 'login' %}">

        {{ form.as_p }}
        {% csrf_token %}


        <input class="w3-button w3-round w3-blue" type="submit" value="Login" />
        <input type="hidden" name="next" value="{{ next }}"/>

    </form>
    <div>
    <a href="{% url 'portfolio:reset_password' %}" class="w3-button w3-round w3-black">Forgot Password</a>
    <a href="{% url 'portfolio:signup' %}" class="w3-button w3-round w3-black">Create an Account</a>
    </div>
{% endblock %}




